@model IEnumerable<VedicaModel.Treatments>

@{
    ViewBag.Title = "Treatments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Treatments
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Account/Home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Treatments</li>
    </ol>

</section>
<div class="col-md-12">
    <hr />
    <button id="btnCreateTreatment" class="btn btn-sm btn-info" ><i class="fa fa-plus"></i> Create New</button>
    <div class="table-responsive">
        <table class="table table-bordered table-striped dataTable" id="tblTreatmentTypes">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>
                        Treatment Name
                    </th>
                    <th>
                        Treatment Type
                    </th>
                    <th>Ation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="priority">
                            <span>@Html.DisplayFor(modelItem => item.OrderId)</span>
                            @Html.HiddenFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentTypes.Name)
                            @Html.HiddenFor(modelItem => item.TreatmentTypeId)
                        </td>
                        <td>
                           <button class="btn btn-xs btn-warning" id="btnEditTreatments-@item.Id"><i class="fa fa-pencil"></i> Edit</button>
                            <button class="btn btn-xs btn-danger" id="btnDeleteTreatments-@item.Id"><i class="fa fa-remove"></i> Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal" id="modalAddTreatments">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Treatment</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Treatment Type</label>
                    <select class="form-control select2" id="slTreatmentTypes"></select>
                </div>
                <div class="form-group">
                    <label>Treatment Name</label>
                    <input type="text" class="form-control" id="txtTreatmentName" placeholder="Treatment Name" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button" class="btn btn-sm btn-primary" data-save="save"><i class="fa fa-check"></i> Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal" id="modalEditTreatments">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Treatment</h4>
                <input type="hidden" id="hdnEditTreatments" />
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Treatment Type</label>
                    <select class="form-control select2" id="slEditTreatmentTypes"></select>
                </div>
                <div class="form-group">
                    <label>Treatment Name</label>
                    <input type="text" class="form-control" id="txtEditTreatmentName" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button" class="btn btn-sm btn-primary" data-save="update"><i class="fa fa-check"></i> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal" id="modalDeleteTreatments">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete - <span id="spanDeleteTreatments"></span></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
                <input type="hidden" id="hdnDeleteTreatments" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button" class="btn btn-sm btn-primary" data-save="delete"><i class="fa fa-ban"></i> Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">
    $(function () {
        fillTreatmentTypes();
        $('#btnCreateTreatment').on("click", function () {
            $('#modalAddTreatments').modal('show');
        });
        $('#modalAddTreatments .modal-footer > button[data-save="save"]').on('click', function () {
            if ($('#txtTreatmentName').val() != "") {
                saveTreatments();
            }
        });
        $('#modalEditTreatments .modal-footer > button[data-save="update"]').on('click', function () {
            if ($('#txtEditTreatmentName').val() != "") {
                updateTreatments();
            }
        });
        $('#modalDeleteTreatments .modal-footer > button[data-save="delete"]').on('click', function () {
            deleteTreatments();
        });
        $('button[id^="btnEditTreatments"]').on('click', function () {
            var getId = $(this).attr('id').split('-')[1];
            $('#hdnEditTreatments').val(getId);
            $($($('#modalEditTreatments .modal-body div')[1]).children('input')).val($($(this).parent('td').parent().children()[1]).text().trim());
            $('#slEditTreatmentTypes').val($($(this).parent('td').prev().children('input')).val()).change();
            $('#modalEditTreatments').modal('show');
        });
        $('button[id^="btnDeleteTreatments"]').on('click', function () {
            var getId = $(this).attr('id').split('-')[1];
            $('span[id="spanDeleteTreatments"]').html($($(this).parent('td').parent().children()[1]).text().trim());
            $('#hdnDeleteTreatments').val(getId);
            $('#modalDeleteTreatments').modal('show');
        });
        
    });
    function fillTreatmentTypes() {
        $.ajax({
            url: "/Treatments/GetTreatmentTypes",
            data: {},
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.length > 0) {
                    var arrTreatment = [];
                    $.each(data, function (i, v) {
                        arrTreatment.push({ id: v.Id, text: v.Name });
                    });
                    $('#slTreatmentTypes').select2({ data: arrTreatment });
                    $('#slEditTreatmentTypes').select2({ data: arrTreatment });
                }
            },
            error: function (data) {

            }
        });
    }
    function saveTreatments() {
        $.ajax({
            url: "/Treatments/SaveTreatments",
            data: { treatmentType: $('#slTreatmentTypes option:selected').val(), treatmentName: $('#txtTreatmentName').val() },
            dataType: "json",
            success: function (data) {
                if (data == true) {
                    $('#modalAddTreatments').modal('hide');
                    window.location.reload();
                }
                else {
                    alert(data);
                }
            },
            error: function (data) {

            }
        });
    }
    function updateTreatments() {
        $.ajax({
            url: "/Treatments/UpdateTreatments",
            data: { treatmentId: $('#hdnEditTreatments').val(), treatmentName: $('#txtEditTreatmentName').val(), treatmentType: $('#slEditTreatmentTypes option:selected').val() },
            dataType: "json",
            success: function (data) {
                if (data == true) {
                    $('#modalEditTreatments').modal('hide');
                    window.location.reload();
                }
                else {
                    alert(data);
                }
            },
            error: function (data) {

            }
        });
    }
    function deleteTreatments() {
        $.ajax({
            url: "/Treatments/DeleteTreatments",
            data: { treatmentId: $('#hdnDeleteTreatments').val() },
            dataType: "json",
            success: function (data) {
                if (data == true) {
                    $('#modalDeleteTreatments').modal('hide');
                    window.location.reload();
                }
                else {
                    alert(data);
                }
            },
            error: function (data) {

            }
        });
    }
</script>